<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/mr_nikhil_kurane?igsh=MWxmamVpbWJoY3U2dw=="><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/nikhil-kurane25?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
           <a href="https://x.com/KuraneNikhil?t=L9lzglRY2vUM4umsQgDPNg&s=09"><i class="fa-brands fa-square-x-twitter"></i></a>

        </div>
        <div class="f-info-brand"> &copy; WonderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>