<style>
.btn-search{
  background-color: #fe424d;
  color: white;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
  margin-left: 1rem;
}
.btn-search:hover{
  background-color: #fe424d;
  color: white;
  border-radius: 1rem;
 
}
.btn-search i{
  display: inline;
  margin-right: 1rem;
}
.inp-search{
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}
.inp-select{
  border-radius: 25px;
}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>


         
        </div>

        <div class="ms-auto">
          <form action="/listings" method="GET" class="d-flex">
            <input class="form-control me-2 inp-search" name="search" type="search" 
                   placeholder="Search" value="<%= search %>" aria-label="Search">
            
            <select name="sort" class="form-select inp-select">
              <option selected>Select filter to search</option>
                <option value="title_asc" <%= sort === 'title_asc' ? 'selected' : '' %>>Title: A-Z</option>
                <option value="title_desc" <%= sort === 'title_desc' ? 'selected' : '' %>>Title: Z-A</option>
            </select>
        
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
        
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">New Listings</a>
           <% if(!currUser) {%>
          <a class="nav-link " href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
          <% if(currUser) {%>
          <a class="nav-link" href="/logout"><b>LogOut</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>